body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: calc(100vw - 20px);
    height: 55px;
    background-color: skyblue;

    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

nav .logo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: yellow;

    position: absolute;
    top: 17px;
    left: 50%;
    transform: translate(-50%, 0);
}

nav a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 25px;
}

nav p {
    margin: 0;
    margin-right: 30px;
    color: black;
    margin-top: 20px;
    font-size: 25px;
}

main {
    width: 100vw;
    height: calc(100vh - 55px);
    background-color: skyblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-logo {
    position: relative;
}

.landing-logo .outer {
    background-color: orange;
    width: 45vh;
    height: 45vh;
}

.landing-logo .centre {
    background-color: yellow;
    border-radius:100%;
    width: 35vh;
    height: 35vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landscape {
    width: 45%;
    height: 30%;
    background-color: green;

    position: absolute;
    bottom: 0%;
}
.landscape.left {
    left: 0%;
}
.landscape.right {
    right: 0%;
}

.mountains {
    width: 30%;
    height: 45%;
    background-color: grey;

    position: absolute;
    bottom: 30%;
}
.mountains.left {
    left: 0%;
}
.mountains.right {
    right: 0%;
}
