body {
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
}

.logo .outer {
    background-color: black;
    width: 250px;
    height: 250px;
}

.logo .centre {
    background-color: red;
    border-radius:100%;
    width: 200px;
    height: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landscape {
    width: 45%;
    height: 30%;
    background-color: green;

    position: absolute;
    bottom: 0%;
}
.landscape.left {
    left: 0%;
}
.landscape.right {
    right: 0%;
}

.mountains {
    width: 30%;
    height: 45%;
    background-color: grey;

    position: absolute;
    bottom: 30%;
}
.mountains.left {
    left: 0%;
}
.mountains.right {
    right: 0%;
}
